<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    <div class="wraper">

        <div class="errors">
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        

        <section class="section">
            <div class="title__section">
                    <h1 >
                        Cauta orasul 
                    </h1>
            </div>
        </section>

        <section class="section">
                        <form method="POST" class="form__section">
                            {% csrf_token %}
                        
                                    {{ form.name }}
                                
                                <button class="form__section-button">
                                        Cauta
                                </button>
                        </form> 
        </section>
        
        <section class="section">
            <div class="container">
                        {% for weather in weather_data %}
                        <div class="box">
                            <a class="close" href="{% url 'delete_city' city_name=weather.city %}">
                                <button class="delete"></button>
                            </a>
                            <div class="box-cont">
                                <div class="box__left">
                                    <div class="description">{{ weather.description }}</div>
                                    <div class="box__left-img">
                                        <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="Image">
                                    </div>
                                </div>
                                
                                <div class="box__right">
                                        
                                    <div class="box__right-title">{{ weather.city }}</div>
                                    <div class="box__right-temp">{{ weather.temperature }}° C</div>

                                </div>
                            </div>
                            
                                                                
                        </div>
                        {% endfor %}
                   
            </div>
        </section>

        <footer class="footer">
        </footer>
    </div>

 